# Dependencies & builds
node_modules
dist
.cache/
.local/
.npm-cache/
.pnpm-store/
node/
*.tar.gz
*.tsbuildinfo
*.log
*.pid
.store.json

# Environment variables
.env
.env.*
!.env.example

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
